@use "../../styles/mixins.scss" as *;
@use "../../styles/font.scss" as *;
@use "../../styles/variables.scss" as *;

.modal {
  position: fixed;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  //z-index: 1000;
  &__tick {
    img {
      width: 30px;
    }
    margin-bottom: 12px;
  }
  &__statement {
    .order--confirm {
      margin-bottom: 0;
      color: $Rose900;
      font-size: 1.6em;
    }
    .enjoy--food {
      margin-bottom: 22px;
      color: $Rose500;
      font-size: 12px;
    }
  }
  &__list {
    width: 92%;
    padding: 1em;
    background-color: $Rose50;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 1em;
    &__article {
      &--section {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        .thumbnail-image {
          img {
            width: 40px;
          }
        }
        .food-des {
          margin-left: 10px;
          .food {
            font-size: 0.8em;
            color: $Rose900;
            font-family: Redhat-bold;
          }
          .quantity-price--number {
            color: $Red;
            font-family: Redhat-semibold;
          }
          .quantity-price--eachprice {
            color: $Rose500;
            font-family: Redhat-regular;
            font-size: 0.8rem;
          }
        }
        .tot-price {
          color: $Rose900;
          font-family: redhat-bold;
        }
      }
    }
    &__totalorder {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .statement--order {
        font-size: 0.8rem;
        color: $Rose900;
        font-family: Redhat-semibold;
      }
      .total--price {
        font-size: 1.2rem;
        color: $Rose900;
        font-family: Redhat-bold;
      }
    }
  }
  &__start {
    width: 100%;
    padding: 1em;
    border-radius: 30px;
    border: 0;
    background-color: $Red;
    color: white;
    font-family: Redhat-regular;
    font-size: 1em;
  }
}
